<nav class="navbar navbar-expand-md navbar-dark bg-primary">
  <div class="container">
    <a class="navbar-brand" [routerLink]="['/home']">Angular App</a>

    <ul *ngIf="loggedIn()" class="navbar-nav mr-auto">
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" [routerLink]="['/clientes']">Clientes</a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" [routerLink]="['/listas']">Arquivos</a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" [routerLink]="['/messagens']">Contato</a>
      </li>
    </ul>

    <div *ngIf="loggedIn()" class="dropdown" dropdown>
      <a class="dropdown-toggle text-light" dropdownToggle>
        Bem vindo {{authService.decodedToken?.unique_name | titlecase}}
      </a>


      <div class="dropdown-menu mt-3" *dropdownMenu>
        <a class="dropdown-item" href="#">
          <i class="fa fa-user"></i> Edit Profile</a>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item" (click)="logout()">
          <i class="fa fa-sign-out"></i> Logout</a>
      </div>
    </div>


    <form *ngIf="!loggedIn()"  #loginForm="ngForm" class="form-inline my-2 my-lg-0" (ngSubmit)="login()">
      <input class="form-control mr-sm-2" type="text" name="Username" placeholder="Username" required [(ngModel)]="model.Username">
      <input class="form-control mr-sm-2" type="password" name="Password" placeholder="Password" required [(ngModel)]="model.Password">
      <button class="btn btn-success my-2 my-sm-0" type="submit">Login</button>
    </form>
 </div>
</nav>