<div class="text-center mt-3">
  <h2>Lista de clientes</h2>
</div>

<div class="container mt-3">
  <button class="btn btn-danger"  (click)="addCliente()"  style="width:100px"> Add User</button>
  <table class="table table-striped">
    <thead>
    <tr>
      <th class="hidden">Id</th>
      <th>Nome</th>
      <th>Cidade</th>
      <th>Email</th>
      <th>Sexo</th>
      <th></th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let cliente of clientes | paginate: { itemsPerPage: 10, currentPage: selectedPage,  totalItems: totalRecordCount }">
      <td class="hidden">{{cliente.Id}}</td>
      <td>{{cliente.Nome}}</td>
      <td>{{cliente.Cidade}}</td>
      <td >{{cliente.Email}}</td>
      <td>{{cliente.Sexo}}</td>
      <td><button class="btn btn-success" (click)="deleteCliente(cliente)" > Delete</button>
        <button class="btn btn-success" (click)="editarCliente(cliente)" style="margin-left: 20px;"> Edit</button></td>
    </tr>
    </tbody>
  </table>
  <pagination-controls (pageChange)="selectedPage =$event; selectPage($event)">
  </pagination-controls>
</div>